body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
}

h1 {
    background-color: rgb(180, 180, 177);
    text-align: center;
    width: 400px;
    margin: 25px auto;
    padding: 16px;
}

.button-home, .button-tacos,
.button-chicken-parm, .button-bbq-chicken-pizza {
    background-color: rgb(147, 148, 255);
    border: black 2px solid;
    border-color: black;
    text-align: center;
    padding: 10px;
    width: 100px;
    margin: 10px auto;
}

h2, p, ul, ol {
    text-align: center;
    margin: 20px auto;
}

p, ul, ol {
    width: 800px;
}

img {
    display: block;
    margin: 20px auto;
}

li {
    margin: 10px;
}